#contactHeader {
  color: #ee6e73;
}

.brand-logo{
  margin-left: 10px;  
}

.catopus{
  width: 67px;
  height: 67px;
}

.header {
  color: #607d8b;
}

/*Trying to target the radio buttons below but not working!!!*/
.questionButtons, [type="radio"] {
  float: left;
  width: auto;
  margin-left: 3em;
  color: red;
  display: inline;
}

.questionImage {
  max-height: 300px;
  display: block;
  margin: auto;
}

hr {
  
}
